In [4]:
import pandas as pd

In [1]:
import pandas
print(pandas.__file__)  # Check if it's pointing to the correct location
print(pandas.__version__)  # Should not give an error

C:\Users\LENOVO\anaconda3\envs\myenv\lib\site-packages\pandas\__init__.py
2.2.3

In [2]:
import numpy as np

In [6]:
# help (pd.Series)

In [30]:
mydata =[1776,1867,1821]
myindex = ['USA','Canada','Mexico']
myser = pd.Series(data = mydata, index = myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [33]:
myser['USA']

np.int64(1776)

In [36]:
ages = {'sam':5,'frank':10,'Spike':7}

In [37]:
pd.Series(ages)

sam       5
frank    10
Spike     7
dtype: int64

In [38]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [39]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [40]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [41]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [44]:
sales_q1['Japan']

np.int64(80)

In [45]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [47]:
np.array([1,2])* 2

array([2, 4])

In [50]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [51]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [52]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [53]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [56]:
firt_Half=sales_q1.add(sales_q2,fill_value=0)

In [57]:
firt_Half.dtype

dtype('float64')